// Color
$black: #000000;
$white: #ffffff;
$gray: #818181;
$des: #c1c1c1;
$champagne: #e6ae48;
$green: #62af26;
$red: #ed301c;
$icon: #898989;
$head: #303030;
$des: #c1c1c1;
$contact: #494949;
$bordeaux: #9c0001;
$orange: #f26522;
$light: #fafafa;
$home-text: #d6d6d6;
$table: #fafafa;
// Variables
$bps: (
  "xl": 1200px,
  "lg": 992px,
  "md": 768px,
  "sm": 576px,
  "xs": 375px,
) !default;
// Mixin
@mixin res($bp, $m: max) {
  // If the key exists in the map
  @if map-has-key($bps, $bp) {
    // Prints a media query based on the value
    @media (#{$m}-width: map-get($bps, $bp)) {
      @content;
    }
  }
  // If the key doesn't exist in the map
  @else {
    @warn "There no `#{$bp}`"
          + "Available breakpoints are: #{map-keys($bps)}.";
  }
}
@mixin d-flex($justify: center, $algin: center, $dir: row) {
  display: flex;
  justify-content: $justify;
  align-items: $algin;
  flex-direction: $dir;
  flex-wrap: wrap;
}
@mixin d-grid($col,$row: 1,$justify: center,$align: stretch) {
  display: grid;
  grid-template-columns: $col;
  grid-template-rows: $row;
  justify-content: $justify;
  align-content: $align;
}
// Padding - Border
@mixin pd-bd($pd-tb,$pd-lr,$color: transparent,$width: 1px,$style: solid) {
  padding: $pd-tb $pd-lr;
  border: $width $style $color;
}
