.address {
  &__head {
    margin-bottom: 3.5rem;
    color: $head;
    font-size: 1.8rem;
  }
  &__wrapper {
    &.active {
      input {
        border: 1px solid $des;
        pointer-events: auto;
      }
    }
  }
  &__form {
    margin-bottom: 2rem;
    padding: 2rem 2rem 0.5rem 2rem;
    border: 1px solid $des;
    max-width: 80%;
    label {
      @include d-grid(20% 80%);
      @include res("xl") {
        @include d-grid(1fr);
      }
      margin-bottom: 15px;
      span {
        margin-bottom: 8px;
        text-decoration: underline;
      }
      span,
      input {
        color: $gray;
        font-size: 1.6rem;
        font-family: "Times New Roman", Times, serif;
      }
      input {
        pointer-events: none;
        height: 3rem;
        padding: 8px 15px;
      }
      input[name="email"] {
        background: $light;
      }
    }
  }
  &__btn {
    text-align: center;
    max-width: 80%;
    @include res("xl") {
      left: 0;
    }
    .btn {
      font-size: 1.6rem;
      color: $white;
      font-weight: normal;
      letter-spacing: 1px;
      margin: 0 1.5rem;
    }
    &--modify {
      background-color: #24c5d9;
    }
  }
  &__popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    text-align: center;
    padding: 3rem 0;
    border-radius: 2rem;
    background: rgba(210, 210, 210, 0.7);
    i {
      color: green;
      font-size: 15rem;
    }
    p {
      font-size: 2.4rem;
    }
  }
}
