.login {
  &__top {
    @include d-flex(space-between, start);
    a {
      @include res("md") {
        display: none;
      }
    }
    i {
      display: none;
      font-size: 2rem;
      color: $gray;
      transition: 0.3s;
      &:hover {
        color: $champagne;
      }
      @include res("md") {
        display: inline-block;
      }
    }
  }
  &__bot {
    padding: 4vw 5vw;
    border: 1px solid $des;
    h3 {
      font-size: 1.8rem;
      color: $black;
      margin-bottom: 2rem;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    p {
      font-size: 1.4rem;
      color: $gray;
      margin-bottom: 4.5rem;
      line-height: 1.3;
    }
  }
  &__form {
    width: 92%;
    @include res("xl") {
      width: 100%;
    }
    &-row {
      @each $type in "email", "password" {
        input[type="#{$type}"] {
          display: inline-block;
          border: solid 1px $des;
          height: 3rem;
        }
      }
      label {
        margin-bottom: 1rem;
        font-size: 1.4rem;
      }
      &:nth-child(2),
      &:last-child {
        margin-top: 3rem;
      }
      &:nth-child(3) {
        margin-top: 2rem;
      }
      &:last-child,
      &:nth-child(3) {
        div {
          grid-column: 2;
          @include res("lg") {
            grid-column: unset;
          }
        }
      }
      @include d-grid(1fr 11fr);
      grid-column-gap: 3rem;
      @include res("lg") {
        @include d-grid(1fr);
      }
      a {
        color: $black;
        transition: 0.3s;
        &:hover {
          color: $champagne;
        }
      }
    }
  }
  &__success {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    text-align: center;
    padding: 3rem 0;
    border-radius: 2rem;
    background: rgba(210, 210, 210, 0.7);
    transition: opacity 0.3s;
    opacity: 0;
    visibility: hidden;
    i {
      color: green;
      font-size: 15rem;
    }
    p {
      font-size: 2.4rem;
    }
    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
}
