.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  &__inner {
    position: absolute;
    top: 15rem;
    left: 50%;
    transform: translateX(-50%);
  }
  &__close {
    position: relative;
    display: inline-block;
    right: -100%;
    font-size: 3rem;
    color: $white;
    transition: 0.3s;
    &:hover {
      color: $champagne;
    }
  }
  &__content {
    background-color: $white;
    padding: 3rem 0;
    @include d-grid(1fr 2fr);
    @include res("lg") {
      @include d-grid(1fr);
    }
    img {
      margin: auto auto;
      width: 100%;
      @include res("lg") {
        width: 60%;
      }
    }
    &--wrapper {
      @include d-flex();
      padding: 0 3rem;
      @include res("lg") {
        padding: 0 2rem;
      }
    }
    &--text {
      text-align: center;
      h1 {
        color: $head;
        font-size: 4rem;
        margin-bottom: 2.5rem;
      }
      p {
        color: $des;
        font-size: 1.6rem;
        line-height: 1.4;
        margin-bottom: 3rem;
      }
      a {
        cursor: pointer;
        font-size: 1.4rem;
        color: $white;
        padding: 15px;
        background-color: $champagne;
        border: none;
        margin: 0 1.5rem;
        transition: 0.3s;
        &:hover {
          background-color: $black;
        }
      }
    }
  }
}
