.products {
  &-main {
    margin-bottom: 8%;
  }
  &__banner {
    width: 100%;
    object-fit: cover;
    height: 30rem;
    @include res("lg") {
      height: 25rem;
    }
    @include res("sm") {
      height: 20rem;
    }
    margin-bottom: 4rem;
  }
  &-btn {
    display: none;
    &:checked {
      & + label i {
        color: $champagne;
        transform: rotate(180deg);
      }
      & ~ .products__inner .products__list {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &-label {
    i {
      display: none;
      color: $gray;
      font-size: 2rem;
      margin-bottom: 2rem;
      transition: 0.3s;
      @include res("lg") {
        display: inline-block;
      }
      &:hover {
        color: $champagne;
      }
    }
  }
  &__inner {
    @include d-grid(1fr 3fr);
    grid-column-gap: 3rem;
    position: relative;
    @include res("lg") {
      @include d-grid(1fr);
    }
  }
  &__list {
    @include d-flex(space-between, start, column);
    .section__arrow--title {
      margin-bottom: 2.5rem;
    }
    @include res("lg") {
      display: block;
      opacity: 0;
      visibility: hidden;
      z-index: 2;
      transition: 0.3s;
      position: absolute;
      top: -1px;
      left: -1px;
      right: -1px;
      padding: 4rem 3rem 0 3rem;
      background-color: $white;
      box-shadow: 5px 5px 10px 2px $des;
    }
    &-clear {
      border: 1px solid $des;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      padding: 10px 12px;
      transition: 0.3s;
      margin-bottom: 10px;
      i {
        color: $bordeaux;
        margin-right: 5px;
      }
      span {
        color: $black;
        transition: 0.3s;
      }
      &:hover {
        background: $champagne;
        span {
          color: white;
        }
      }
    }
    &-items {
      margin-bottom: 4rem;
    }
    &--all {
      @include res("lg") {
        @include d-grid(1fr 1fr);
      }
      h5 {
        color: $gray;
        font-size: 1.4rem;
        margin-bottom: 15px;
        font-weight: 600;
      }
      ul {
        margin-bottom: 3rem;
      }
      li {
        margin-bottom: 10px;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          list-style: circle inside;
          color: $champagne;
        }
        span {
          color: $champagne;
          margin-left: 10px;
        }
        &.active {
          list-style: circle inside;
          color: #e6ae48;
        }
      }
      a {
        color: $gray;
        font-size: 1.4rem;
        transition: 0.3s;
        span {
          margin-left: 3px;
        }
      }
    }
    &--tag {
      a {
        margin-bottom: 1rem;
        margin-right: 1rem;
        display: inline-block;
        padding: 5px 10px;
        border: 1px solid $des;
        color: $gray;
        font-size: 1.2rem;
        font-family: "OpenSans Regular";
        transition: 0.3s;
        &:hover {
          color: $white;
          background-color: $champagne;
          border-color: $champagne;
        }
      }
    }
    &--img {
      @include res("lg") {
        display: none;
      }
    }
  }
  &__grid {
    position: relative;
    z-index: 1;
    &--top {
      @include d-flex(space-between);
      padding: 10px 12px;
      a {
        color: $gray;
        transition: 0.3s;
        font-size: 1.8rem;
        padding: 0 5px;
        &:hover {
          color: $champagne;
        }
      }
    }
    &--show {
      a:first-child {
        color: $champagne;
      }
    }
    &--page {
      button {
        width: 30px;
        height: 30px;
        margin-left: 10px;
        background: $des;
        color: $white;
        transition: 0.3s;
        &:hover {
          background: $champagne;
        }
        &.active {
          background: $champagne;
        }
      }
    }
    &--bot {
      @include d-grid(1fr 1fr 1fr);
      grid-column-gap: 3rem;
      @include res("xl") {
        grid-column-gap: 0;
      }
      @include res("md") {
        @include d-grid(1fr 1fr);
      }
      @include res("md") {
        @include d-grid(1fr);
      }
    }
  }
  &__row {
    position: relative;
    z-index: 1;
    &--top {
      @include d-flex(space-between);
      border: 1px solid $des;
      padding: 10px 12px;
      a {
        color: $gray;
        transition: 0.3s;
        font-size: 1.8rem;
        padding: 0 5px;
        &:hover {
          color: $champagne;
        }
      }
    }
    &--show {
      a:last-child {
        color: $champagne;
      }
    }
    &--page {
      a:nth-child(2) {
        color: $champagne;
      }
    }
    &--items {
      @include d-grid(1fr 2fr);
      padding: 2rem 0;
      border-bottom: 1px solid $des;
      &:last-child {
        border: none;
      }
      img {
        margin: auto auto;
      }
    }
    &--content {
      h3 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
      }
    }
    &--text {
      margin: 2.5rem 0 3rem 0;
      font-size: 1.3rem;
      width: 70%;
      line-height: 1.4;
      @include res("lg") {
        width: 100%;
      }
    }
    &--btn {
      a {
        margin-right: 3.5rem;
        margin-bottom: 2rem;
      }
      &-group {
        a {
          color: $gray;
          transition: 0.3s;
          &:hover {
            color: $champagne;
          }
          @include res("sm") {
            display: block;
          }
          i {
            margin-right: 5px;
          }
        }
      }
    }
  }
  &__popup {
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    text-align: center;
    padding: 3rem 0;
    border-radius: 2rem;
    background: rgba(210, 210, 210, 0.7);
    i {
      color: green;
      font-size: 15rem;
    }
    p {
      font-size: 2.4rem;
    }
  }
}
