.register {
  &__top {
    @include d-flex(space-between, start);
    a {
      @include res("md") {
        display: none;
      }
    }
    i {
      display: none;
      font-size: 2rem;
      color: $gray;
      transition: 0.3s;
      &:hover {
        color: $champagne;
      }
      @include res("md") {
        display: inline-block;
      }
    }
  }
  &__form {
    padding: 4vw 5vw;
    border: 1px solid $des;
    h3 {
      font-size: 1.8rem;
      color: $black;
      margin-bottom: 2rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      &:nth-of-type(2) {
        margin-top: 3rem;
      }
    }
    input {
      border: 1px solid $des;
      line-height: 1rem;
      @each $type in "text", "email", "password" {
        &[type="#{$type}"] {
          margin-bottom: 2.5rem;
          height: 3rem;
        }
      }
    }
    label {
      margin-bottom: 1rem;
      font-size: 1.4rem;
    }
    &-row {
      @include d-grid(1fr 5fr);
      grid-column-gap: 3rem;
      @include res("lg") {
        @include d-grid(1fr);
      }
      div {
        grid-column: 2;
        @include res("lg") {
          grid-column: unset;
        }
      }
      &:last-child {
        text-align: right;
      }
      a {
        margin-left: 1rem;
      }
    }
  }
}
